---
import Layout from "../layouts/PageLayout.astro";
import Headline from "~/components/Headline.astro";
import WidgetWrapper from "~/components/WidgetWrapper.astro";
import { contentfulClient } from "~/lib/contentful";
import Contributor from "~/components/Contributor.astro";
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';


interface FileDetails {
  size: number;
  image: {
    width: number;
    height: number;
  };
}

interface ImageFile {
  url: string;
  details: FileDetails;
  fileName: string;
  contentType: string;
}
interface ImageFields {
  title: string;
  description: string;
  file: ImageFile;
}

interface Photo {
  metadata: {
    tags: any[];
  };
  fields: ImageFields;
}

export interface Contributor {
  contentTypeId: string;
  fields: {
    name: string;
    role: string;
    bio: {
      content: any[];
    };
    photo: Photo;
  }
}

const entries = await contentfulClient.getEntries<Contributor>({
  content_type: "contributor",
});

const constributors = entries.items.map((item: any) => {
  return {
	name: item.fields.name,
    role: item.fields.role,
    bio: item.fields.bio.content.map((content: any) => documentToHtmlString(content)).join(''),
    photo: item['fields']['photo']['fields']['file']['url'],
  };
});


const metadata = {
  title: "Codeology - About Us",
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
    <WidgetWrapper containerClass={`max-w-7xl mx-auto`} >
    <Headline
        tagline="About Us"
        title="Meet the team behind Codeology"
        subtitle="We are a group of passionate individuals who believe that everyone should have access to coding education. We are dedicated to facilitate free coding lessons to anyone who is interested in learning."
    />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {
            constributors.map((contributor) => (
                <Contributor
                   {...contributor}
                />
            ))
        }
    </div>
</WidgetWrapper>
</Layout>
