---
interface AvatarProps {
    name: string;
    picture: string;
    size: 'sm' | 'md' | 'lg';
}
const { name, picture } = Astro.props
---

<div class="rounded-full">
    <img class="w-32 h-32 object-cover rounded-full" src={picture} alt={name} />
</div>